body {
    background-image: url("backgroundcalculator.jpg")
}

img {
    position: absolute;
    width: 56%;
    margin-left: 22%;
    margin-right: 22%;
    z-index: -1;
    margin-top: -4%;
}

#input {
    position: absolute;
    height: 13.5%;
    width: 33%;
    margin-top: 6%;
    margin-left: 33.5%;
    margin-right: auto;
    align-content: center;
    border-radius: 10pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40pt;
    text-align: right;
    padding-right: 10pt;
    padding-top: 10pt;
}

.calculator {
    position: absolute;
    margin-top: 16.5%;
    margin-left: 32.5%;
    margin-right: auto;
    align-content: center;
}

.btn {
    width: 90pt;
    height: 70pt;
    opacity: 0;
    background-color: white;
    margin-left: 10pt;
    margin-bottom: 20pt;
}

#calc {
    width: 90pt;
    height: 70pt;
    opacity: 0;
    background-color: white;
    margin-left: 10pt;
    margin-bottom: 10pt;
}

.two {
    width: 90pt;
    height: 70pt;
    opacity: 0;
    background-color: white;
    margin-left: 10pt;
    margin-bottom: 10pt;
}

#numberone {
    display: none;
}

#numbertwo {
    display: none;
}