#table1 {
    width: 30%;
    margin-left: 15%;
    margin-top: 5%;
}

.butt {
    color: black;
}

#pt {
    margin-left: 15%;
}

#text {
    margin-left: 15%;
    width: 30%;
    text-align: right;
    font-size: 1.8em;
}

#toev {
    margin-left: 15%;
}